<script>
  window.onload = function () {
    window.scrollTo(0, 0);
  };
</script>
<section class="py-10">
  <div class=" container">
    <div class="grid lg:grid-cols-12 gap-10">
      <!-- 我猜是為了位置剛好分12分 -->
      <div class="lg:col-span-8">
        <div class="grid grid-cols-1 gap-6">
          <div class="col-span-1">
            <div class="border border-default-200 rounded-xl" style="height: 500px;">
              <div class="h-full w-full items-center justify-center ">
                <img src="{{prod.fPubSopImageUrl}}" alt="" class="w-full h-full mx-auto">
              </div>
            </div>
            <!-- end swiper nav slide -->
            <!-- 小圖預覽圖 -->
            <!-- <div class="col-span-1">
              <div class="swiper product-swiper-pagination justify-center py-2">
                <div class="swiper-wrapper justify-center gap-2 w-full">
                  <div class="swiper-slide cursor-pointer !w-28 !h-28 sm:!w-24 sm:!h-24 lg:!w-32 lg:!h-32 p-2
                  border border-default-200 rounded-lg ring-2 ring-transparent
                  [&.swiper-slide-thumb-active]:border-primary [&.swiper-slide-thumb-active]:ring-primary">
                    <img src="../../../../assets/lecture-publisher/work001-1.jpg" alt="" class="w-full h-full rounded">
                  </div>
                  <div class="swiper-slide cursor-pointer !w-16 !h-16 sm:!w-24 sm:!h-24 lg:!w-32 lg:!h-32 p-2
                  border border-default-200 rounded-lg ring-2 ring-transparent
                  [&.swiper-slide-thumb-active]:border-primary [&.swiper-slide-thumb-active]:ring-primary">
                    <img src="../../../../assets/lecture-publisher/work001-2.jpg" alt="" class="w-full h-full rounded">
                  </div>
                </div>
              </div>
            </div> -->
            <!-- end swiper thumbnail slide -->
            <!-- <div class="mt-6 border border-default-200 rounded-lg p-6">
              <h3 class="mb-2 font-semibold text-2xl text-default-800">
                工作流簡介
              </h3> -->
            <!-- <p class="text-base text-default-700 mb-4">
                {{prod.fSopDescription}}
              </p> -->
            <!-- <ul>
                {{prod.fCompanySize}}
              </ul>
            </div> -->
            <div class="mt-6 border border-default-200 rounded-lg p-6">
              <h3 class="mb-2 font-semibold text-2xl text-default-800">
                內容簡介
              </h3>
              <p class="text-base text-default-700 mb-4">
                {{prod.fPubContent}}
              </p>

            </div><!-- end grid-cols -->
          </div>


        </div><!-- end grid -->
      </div><!-- end grid-cols -->
      <div class="lg:col-span-4">
        <h2 class="text-4xl font-semibold text-default-800"> {{prod.fSopName}}</h2>

        <div class="flex items-center border border-default-200 p-4 rounded-lg bg-default-100 mt-6">
          <img class="inline-block flex-shrink-0 h-16 w-16 rounded-full" [src]="Publisher.fPubImageUrl"
            alt="Image Description">
          <div class="ms-3">
            <a class="text-base text-default-600" href="/publisher/profile/{{Publisher.fPublisherId}}">
              <h3 class="font-semibold text-default-900">{{Publisher.fPubName}}</h3>
            </a>
            <!-- <p class="text-sm font-medium text-default-400">lettie&#64;gmail.com</p> -->
          </div>
        </div>
        <div class="mt-1">
          <!-- grid sm:grid-cols-2 gap-6 -->
          <div class="rounded-lg border border-default-200 bg-white dark:bg-default-50 overflow-hidden">
            <div class="p-6">
              <p class="text-xs font-semibold text-default-500 capitalize mb-1"> 購買此工作流程</p>
              <!-- end card title -->
              <p class="text-4xl mt-1 text-default-800 mb-4">NTD {{prod.fPrice}}
                <span class="text-default-400 text-2xl">{{prod.fSalePoints}}P</span>
              </p>
              <div class="grid lg:grid-cols-5 gap-1">
                <a (click)="buyNow()"
                  class="lg:col-span-4 py-2 px-5 block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md mt-2"
                  style="cursor: pointer;">
                  立即購買
                </a>
                <!-- 購物車在這 -->
                <a class="lg:col-span-1 py-2 px-5 block font-semibold tracking-wide border align-middle duration-500 text-base text-center bg-primary hover:bg-primary-700 border-primary hover:border-primary-700 text-white rounded-md mt-2"
                  (click)="addToCart()">
                  <i class="ti ti-shopping-bag text-xl"></i>
                </a><!-- Button End -->
              </div>
            </div><!-- Card End -->
          </div>
        </div>
        <div class="lg:col-span-8">
          <div class="">

          </div>
        </div><!-- end grid-cols -->
      </div><!-- end grid -->
    </div><!-- end container -->
  </div>
</section>



<section class="py-10">
  <div class="container">
    <div class="mb-6">
      <h1 class="inline-block text-2xl font-semibold text-default-800">推薦工作流</h1>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5 gap-6 mt-5">
      <!-- 單位一 -->
      <ul *ngFor="let sopList of sopList">
        <div class="border border-default-200 rounded-xl overflow-hidden duration-500 hover:border-primary relative">
          <div class="p-4">
            <div class="relative">
              <div class="absolute top-0 start-0">
                <span
                  class="inline-flex items-center gap-1.5 py-1 px-4 rounded-lg text-sm font-medium bg-primary/10 text-primary">Sale</span>
              </div>
              <div class="absolute top-0 end-0">
                <span
                  class="inline-flex items-center gap-1.5 py-1 px-4 rounded-lg text-sm font-medium bg-red-500/10 text-red-500">Hot</span>
              </div>
              <img *ngIf="sopList.fPubSopImageUrl" [src]="sopList.fPubSopImageUrl" alt="" class="w-full h-full">
            </div>
          </div>

          <div class="border-t border-dashed border-default-200 p-4">
            <div class="mb-4">
              <a href="http://localhost:4200/workflow/workflowmarket-product/{{sopList.fSOPID}}"
                class="text-default-600 text-xl font-semibold line-clamp-1 after:absolute after:inset-0 after:z-0">{{sopList.fSopName}}</a>
            </div>
            <div class="flex items-center justify-between gap-2">
              <h4 class="font-semibold text-xl text-primary">${{sopList.fPrice}} <span
                  class="text-default-400 text-base line-through">{{sopList.fSalePoints}}P</span> </h4>
              <a href="pages-cart.html"
                class="shrink flex items-center justify-center rounded-lg bg-primary/20 text-primary px-6 py-2.5 text-center text-sm font-medium shadow-sm transition-all duration-200 hover:bg-primary hover:text-white">
                <i class="ti ti-shopping-bag text-xl me-2"></i>
                <span>加入購物車</span>
              </a><!-- end btn -->
            </div>
          </div>
        </div><!-- end card -->
      </ul>
    </div>
  </div><!-- end container -->
</section>