{{> back-to-top }}

<footer class="">
  <div class="border-t border-default-200 bg-white dark:bg-default-50">
    <div class="container">
      <div class="py-6 xl:py-24">
        <div class="grid gap-x-6 gap-y-10 xl:grid-cols-8">
          <div class="xl:col-span-2">
            <a href="#" class="logo flex items-center gap-2">
              <img src="assets/images/logo.png" class="hidden h-10 dark:block" alt="" />
              <img src="assets/images/logo-dark.png" class="block h-10 dark:hidden" alt="" />
            </a>

            <p class="mt-6 max-w-xs text-base font-medium text-default-600">
              A supermarket is a self-service shop offering a wide variety of
              food, beverages & household products.
            </p>
            <div class="mt-6 flex flex-wrap gap-2">
              <a href="admin-dashboard.html" target="_blank" class="inline-flex items-center justify-center rounded-lg bg-primary px-6 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all duration-200 hover:bg-primary-600">
                <i class="ti ti-brand-appgallery me-2 text-xl"></i> Become a
                Seller
              </a>

              <!-- Newsletter banner modal button-->
              <button data-hs-overlay="#offer-modal" class="inline-flex items-center justify-center rounded-lg bg-primary px-6 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all duration-200 hover:bg-primary-600">
                <i class="ti ti-news me-2 text-xl"></i> Newsletter
              </button>
            </div>
          </div>
          <div class="xl:col-span-6">
            <div class="grid gap-6 sm:grid-cols-2 md:grid-cols-4">
              <div class="">
                <ul class="flex flex-col gap-3">
                  <h5 class="mb-2 font-semibold text-default-900 lg:text-lg xl:text-xl">
                    My Account
                  </h5>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i> My
                      Profile</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i> Order
                      History</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Shopping Cart</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Wishlist</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Settings</a>
                  </li>
                </ul>
              </div>

              <div class="">
                <ul class="flex flex-col gap-3">
                  <h5 class="mb-2 font-semibold text-default-900 lg:text-lg xl:text-xl">
                    Information
                  </h5>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Contact</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      FAQs</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i> Terms
                      & Conditions</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i> Return
                      Policy</a>
                  </li>
                </ul>
              </div>

              <div class="">
                <ul class="flex flex-col gap-3">
                  <h5 class="mb-2 font-semibold text-default-900 lg:text-lg xl:text-xl">
                    Policy
                  </h5>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i> Deal
                      of the day</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Fruits</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Grocery products</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Vegetables</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i> Frozen
                      items</a>
                  </li>
                </ul>
              </div>

              <div class="">
                <ul class="flex flex-col gap-3">
                  <h5 class="mb-2 font-semibold text-default-900 lg:text-lg xl:text-xl">
                    Help Center
                  </h5>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Payments</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Refund</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Checkout</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Shipping</a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="inline-flex items-center gap-2 text-base font-semibold text-default-600 transition-all hover:text-primary"><i class="ti ti-circle-chevron-right text-lg"></i>
                      Privacy Policy</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Grid End -->
    </div>

    <div class="border-t border-default-200">
      <div class="container">
        <div class="grid items-center gap-6 py-4 lg:grid-cols-3">
          <p class="flex text-center text-default-900 lg:col-span-2 lg:text-start">
            <script>
              document.write(new Date().getFullYear());
            </script>
            © GreenCart. Designed & Crafted With
            <a class="text-primary" href="https://coderthemes.com/" target="_blank">&nbsp;Coderthemes</a>
          </p>
          <ul class="flex flex-wrap items-center justify-center gap-2 lg:justify-end">
            <li>
              <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-facebook text-2xl"></i></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-x text-2xl"></i></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-instagram text-2xl"></i></a>
            </li>
            <li>
              <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-github text-2xl"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<div id="offer-modal" class="hs-overlay pointer-events-none fixed start-0 top-0 z-[80] hidden size-full overflow-y-auto overflow-x-hidden">
  <div class="m-3 mt-0 flex min-h-[calc(100%-3.5rem)] items-center opacity-0 transition-all ease-out hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:mx-auto sm:w-full sm:max-w-4xl">
    <div class="flex max-h-full w-full flex-col overflow-hidden rounded-xl bg-white shadow-sm dark:bg-default-50">
      <div class="pointer-events-auto relative p-4">
        <div class="grid items-center gap-6 md:grid-cols-2">
          <div class="flex flex-col items-start justify-center p-4">
            <span class="inline-flex items-center gap-1.5 rounded-lg bg-primary/10 px-4 py-1 text-sm font-medium text-primary">Newsletter</span>
            <h1 class="mb-6 text-4xl/normal font-semibold text-default-900">
              Subscribe to Our Newsletter
            </h1>
            <p class="mb-4 text-base text-default-900">
              Subscribe to our newsletter and Save your
              <span class="text-yellow-500">50% money</span> with discount code
              today.
            </p>
            <div class="relative flex w-full">
              <input type="email" id="emailID" class="block w-full rounded-s-md border-default-200 py-2 pe-5 ps-10 text-sm text-default-800 focus:ring-transparent dark:bg-default-50" placeholder="Enter your email" />
              <i class="ti ti-mail absolute start-3 top-1/2 -translate-y-1/2 text-lg text-default-800"></i>
              <button class="inline-flex items-center justify-center rounded-e border border-primary bg-primary px-6 py-2.5 text-center text-sm font-medium text-white shadow-sm transition-all">
                Subscribe
              </button>
            </div>

            <ul class="mt-10 flex flex-wrap items-center gap-2">
              <li>
                <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-facebook text-2xl"></i></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-x text-2xl"></i></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-instagram text-2xl"></i></a>
              </li>
              <li>
                <a href="javascript:void(0);" class="group inline-flex h-10 w-10 items-center justify-center rounded-2xl bg-primary/20 text-primary backdrop-blur-xl transition-all duration-500 hover:bg-primary/30"><i class="ti ti-brand-github text-2xl"></i></a>
              </li>
            </ul>
          </div>
          <div class="hidden md:flex">
            <img src="assets/images/banner/banner-9.png" class="h-full w-full rounded-lg" alt="offer images" />
          </div>

          <!-- Modal CLose Button -->
          <div class="absolute end-4 top-4 z-60">
            <button data-hs-overlay="#offer-modal" class="flex size-10 items-center justify-center rounded-lg bg-default-300/55">
              <i data-lucide="x" class="h-6 w-6 text-default-600"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>