<div class="signup-container">

  <h2>會員註冊</h2>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <label for="name">姓名</label>
    <input type="text" id="name" name="name" [(ngModel)]="iMemberSignin.fName" required />

    <label for="birthDate">生日</label>
    <input type="date" id="birthDate" name="birthDate" [(ngModel)]="iMemberSignin.fBirthday" required />

    <label for="phone">電話</label>
    <input type="text" id="phone" name="phone" [(ngModel)]="iMemberSignin.fPhone" required />

    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="iMemberSignin.fEmail" required />

    <label for="address">地址</label>
    <input type="text" id="address" name="address" [(ngModel)]="iMemberSignin.fAddress" required />

    <label for="password">密碼</label>
    <input type="password" id="password" name="password" [(ngModel)]="iMemberSignin.fPassword" required />

    <button type="submit">註冊</button>
    <div class="button-container">
      <button [routerLink]="['/login']" class="forum-button return-button">返回登入頁面</button>
    </div>
    <a href="javascript:void(0)"  (click)="demoSignin()">Demo</a>
  </form>
</div>
