<p>pubmanage-main works!</p>
<!-- <div class="border border-default-200 rounded-lg bg-white dark:bg-default-50 h-fit">
  <div class="flex items-center justify-between py-4 px-5">
    <h4 class="text-lg font-medium text-default-950 capitalize">工作流摘要</h4>
  </div>
  <div class="p-6 border-t border-dashed border-default-200">
    <div class="overflow-x-auto">
      <div class="min-w-full inline-block align-middle">
        <div class="overflow-hidden border border-default-200 rounded-md">
          <table class="min-w-full divide-y divide-default-200">
            <thead>
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-default-600 uppercase">Name
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-default-600 uppercase">Age
                </th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-default-600 uppercase">
                  Address</th>
                <th scope="col" class="px-6 py-3 text-end text-xs font-medium text-default-600 uppercase">Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="odd:bg-white even:bg-default-100 hover:bg-default-100 dark:odd:bg-default-50 odd:hover:!bg-default-100 even:hover:!bg-default-200">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">John Brown</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">45</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">New York No. 1 Lake Park</td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                  <a class="text-primary hover:text-primary-600 transition-all" href="#">Delete</a>
                </td>
              </tr>

              <tr
                class="odd:bg-white even:bg-default-100 hover:bg-default-100 dark:odd:bg-default-50 odd:hover:!bg-default-100 even:hover:!bg-default-200">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">Jim Green</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">27</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">London No. 1 Lake Park</td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                  <a class="text-primary hover:text-primary-600 transition-all" href="#">Delete</a>
                </td>
              </tr>

              <tr
                class="odd:bg-white even:bg-default-100 hover:bg-default-100 dark:odd:bg-default-50 odd:hover:!bg-default-100 even:hover:!bg-default-200">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">Joe Black</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">31</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">Sidney No. 1 Lake Park</td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                  <a class="text-primary hover:text-primary-600 transition-all" href="#">Delete</a>
                </td>
              </tr>

              <tr
                class="odd:bg-white even:bg-default-100 hover:bg-default-100 dark:odd:bg-default-50 odd:hover:!bg-default-100 even:hover:!bg-default-200">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">Edward King</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">16</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">LA No. 1 Lake Park</td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                  <a class="text-primary hover:text-primary-600 transition-all" href="#">Delete</a>
                </td>
              </tr>

              <tr
                class="odd:bg-white even:bg-default-100 hover:bg-default-100 dark:odd:bg-default-50 odd:hover:!bg-default-100 even:hover:!bg-default-200">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">Jim Red</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">45</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">Melbourne No. 1 Lake Park</td>
                <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                  <a class="text-primary hover:text-primary-600 transition-all" href="#">Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div> -->