<!-- {{> main}} -->

<!-- <head> -->
  <!-- {{> title-meta title="Wishlist"}}

  {{> head-css}} -->
<!-- </head> -->

<!-- <body> -->

  <!-- {{> navbar}}

  {{> mobile-nav}}

  {{> page-title sub-title="Pages" title="Wishlist"}} -->

  <section class="lg:py-10 py-3">
    <div class="container">
      <div class="overflow-x-auto">
        <div class="min-w-full inline-block align-middle">
          <div class="overflow-hidden border border-default-200 rounded-lg">
            <table class="min-w-full divide-y divide-default-200 ">
              <thead class="bg-default-50">
                <tr>
                  <th scope="col" class="px-6 py-3 text-start text-sm font-semibold text-default-800 uppercase w-[100px]">Product</th>
                  <th scope="col" class="px-6 py-3 text-start sr-only min-w-[12rem]">Product</th>
                  <th scope="col" class="px-6 py-3 text-start text-sm font-semibold text-default-800 uppercase">Ratings</th>
                  <th scope="col" class="px-6 py-3 text-start text-sm font-semibold text-default-800 uppercase">Price</th>
                  <th scope="col" class="px-6 py-3 text-start text-sm font-semibold text-default-800 uppercase min-w-[10rem]">Stock Status</th>
                  <th scope="col" class="px-6 py-3 text-start text-sm font-semibold text-default-800 uppercase w-[15rem]">Action</th>
                </tr><!--  end tr -->
              </thead><!--  end t-head -->
              <tbody class="divide-y divide-default-200">
                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">
                    <img src="assets/member/images/product/1.png" alt="" class="h-22 w-22">
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">水果 香蕉</td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center gap-3">
                      <div class="flex items-center gap-2">
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-half-filled text-amber-400"></i>
                      </div>
                      <p class="text-default-800 mt-0.5">(48)</p>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">$27.00</td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-primary/20 text-primary">有存貨</span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                    <div class="flex items-center gap-2">
                      <a href="#" class="px-6 py-2.5 rounded-md text-base bg-primary text-white transition-all">Add to Cart</a>
                      <a href="#" class="inline-flex items-center justify-center h-11 w-11 rounded-md bg-red-500/20 text-red-500 transition-all hover:bg-red-500 hover:text-white"><i data-lucide="trash-2" class="h-5 w-5"></i></a>
                    </div>
                  </td>
                </tr><!--  end tr -->

                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">
                    <img src="assets/member/images/product/2.png" alt="" class="h-22 w-22">
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">零食</td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center gap-3">
                      <div class="flex items-center gap-2">
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-half-filled text-amber-400"></i>
                      </div>
                      <p class="text-default-800 mt-0.5">(98)</p>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">$23.00</td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-primary/20 text-primary">有存貨</span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                    <div class="flex items-center gap-2">
                      <a href="#" class="px-6 py-2.5 rounded-md text-base bg-primary text-white transition-all">Add to Cart</a>
                      <a href="#" class="inline-flex items-center justify-center h-11 w-11 rounded-md bg-red-500/20 text-red-500 transition-all hover:bg-red-500 hover:text-white"><i data-lucide="trash-2" class="h-5 w-5"></i></a>
                    </div>
                  </td>
                </tr><!--  end tr -->

                <tr>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">
                    <img src="assets/member/images/product/3.png" alt="" class="h-22 w-22">
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-default-800">新鮮葡萄</td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <div class="flex items-center gap-3">
                      <div class="flex items-center gap-2">
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                        <i class="ti ti-star-filled text-amber-400"></i>
                      </div>
                      <p class="text-default-800 mt-0.5">(5.44k)</p>
                    </div>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-sm text-default-800">$09.00</td>
                  <td class="px-6 py-4 whitespace-nowrap">
                    <span class="inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-red-500/20 text-red-500">缺貨</span>
                  </td>
                  <td class="px-6 py-4 whitespace-nowrap text-end text-sm font-medium">
                    <div class="flex items-center gap-2">
                      <button disabled class="px-6 py-2.5 rounded-md text-base bg-primary text-white transition-all disabled:opacity-60 disabled:pointer-events-none">Add to Cart</button>
                      <a href="#" class="inline-flex items-center justify-center h-11 w-11 rounded-md bg-red-500/20 text-red-500 transition-all hover:bg-red-500 hover:text-white"><i data-lucide="trash-2" class="h-5 w-5"></i></a>
                    </div>
                  </td>
                </tr><!--  end tr -->
              </tbody><!--  end t-body -->
            </table><!--  end table -->
          </div><!--  end overflow-hidden -->
        </div>
      </div><!-- end overflow -->
    </div><!--  end container -->
  </section>

  <!-- {{> footer }}

  {{> footer-scripts }}

  {{> theme-mode}} -->

<!-- </body> -->

<!-- </html> -->
